html {
  scroll-behavior: smooth;
  background-color: #85573a;
  
}
/* Navbar */
.navbar {
  display: flex; 
  position: relative; 
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #503422; 
  }
  
  .navbar .navbar-nav a {
      color: #d3a178;
      display: inline-block;
      font-size: 0.975rem;
      margin: 0 1.5rem;
      font-weight: 600;
    }
  .navbar .navbar-nav a:hover {
      color: #000000;
      font-weight: 800;
    }
  .navbar .navbar-nav a::after {
      content: '';
      display: block;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid #000000;
      transform: scaleX(0);
      transition: 0.2s linear;
    }
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.5);
    }
  .navbar span {
      color: black;
  }
  .nav-logo {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  line-height: 1; 
  color:#d3a178;
  }
  .mobile {
    display: none;
 }
 @media (max-width: 1023px) {
     .mobile {
         display: block; 
     }
     #hamburger-menu {
      display: inline-block;
     }
     .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: 0%;
      background-color: #ffffff ;
      width: 40rem;
      height: 100vh;

     }
     .navbar .navbar-nav.active {
      right: 0%;
       
     }
 }
 .mobile-icon {
 display: flex; 
 position: absolute;
 right: 2%;
 top: 15%;
 padding: 0.75rem; 
 align-items: center; 
 color: #d3a178; 
 
 
 }
 
 
 @media (min-width: 1024px) {
     .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 1.6rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
     }
    }
 
 .navbar-nav-icon {
     width: 1rem; /* w-4 in Tailwind */
     height: 1rem; /* h-4 in Tailwind */
     stroke: currentColor; /* current-fill in Tailwind */
     vertical-align: middle;
     gap: 40rem;
 }
 .navbar-nav svg {
     gap: 40rem;
 }
 
 .extra-btn-1 {
     display: none; 
     padding-top: 0.5rem;
     padding-bottom: 0.5rem; 
     padding-left: 1.5rem;
     padding-right: 1.5rem; 
     background-color: #ffffff; 
     transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
     color: #000000; 
     font-size: 0.875rem;
     line-height: 1.25rem; 
     font-weight: 700; 
     border-radius: 0.75rem; 
 }
 
 @media (min-width: 1024px) { 
 
     .extra-btn-1{
 
display: inline-block; 
 margin-left: auto; 
 margin-right: 0.75rem; 
  }
 }
 @media (max-width: 1024px) { 
  .extra-btn-1 {
    display: inline-block;
    position: relative;
    right: 9%;
    margin-left: auto; 
   margin-right: 0.75rem; 
  }
 }
 
 
 .extra-btn-1:hover {
  background-color: #74563e;
  color: #ffffff;
  }
  .extra-btn-2 {
 display: none; 
 position: relative;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem; 
 padding-left: 1.5rem;
 padding-right: 1.5rem; 
 background-color: #946d4e;
 transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
 transition-duration: 200ms; 
 color: #ffffff; 
 font-size: 0.875rem;
 line-height: 1.25rem; 
 font-weight: 700; 
 border-radius: 0.75rem; 
  }
 @media (min-width: 1024px) { 
     
     .extra-btn-2{
   display: inline-block; 
  }
 }
 @media (max-width: 1024px) { 
     
  .extra-btn-2{
display: inline-block; 
right: 9%;
}
}
 
 .extra-btn-2:hover {
  background-color: #c08c61;
  color: #000000;
  }
 
  /* Call To Action Section */
  .section {
    overflow: hidden;
    background-image: url("../img/bg2.gif");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    height: 110vh;
  }
  
  .section-content {
    background-color: rgba(68, 46, 24, 0.507);
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 500px;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .section-content {
      text-align: left;
    }
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #0800a000;
    border-right: 2px solid #c08c61;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s infinite,
               cursor .5s infinite;
  }
  @keyframes typing{
    10% { width: 0 }
    
    /* 100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    } */
  }
  @keyframes cursor{
    50% { border-color: transparent }
  }
  
  @media (min-width: 640px) {
    .section-title {
      font-size: 2rem;
    }
  }
  
  .section-paragraph {
    display: none;
    max-width: 30rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 640px) {
    .section-paragraph {
      display: block;
    }
  }
  
  .section-link {
    display: inline-block;
    position: relative;
    margin: auto;
    border-radius: 9999px;
    background-color: #916745;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .section-link:hover {
    background-color: #d3a178;
    color: #000000;
  }
  
  .section-link:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #4f46e5;
  }
  
  
  /* END Call To Action Section  */
/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: 0;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: rgb(0, 136, 255);
  color: rgba(0, 0, 0, 0.801);

}
.shopping-cart .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;

}
.shopping-cart img {
  height: 6rem;
  border-radius: 50%;

}
.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;

  
}
.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .remove-item:hover {
  color: #946d4e;
}
.shopping-cart .cart-item h3 {
  font-weight: 700;
  text-align: right;

  gap: 10rem;
}
/* Product Section */
.products {
  padding: 8rem 7% 1.4rem;
}
.products h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #ffccae; 
font-size: 3rem;
line-height: 2rem; 
font-weight: 700; 

}
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;

}

.products .product-card {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 3%;
  padding: 2rem;

}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #000000;
  margin: 0.3rem;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;


}
.products .product-icons a:hover {
  background-color: #503422; 
  border: 1px solid rgba(117, 69, 38, 0.801);
  color: rgb(255, 255, 255);
}
.products .product-image img {
  width: 25rem;
}



/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

