html {
  scroll-behavior: smooth;
  background-color: #85573a;
  
}
link {
  display: none;
}
/* Navbar */
.navbar {
  display: flex; 
  position: relative; 
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1rem;
  padding-right: 1rem; 
  justify-content: space-between; 
  align-items: center; 
  background-color: #503422; 
  }
  
  .navbar .navbar-nav a {
      color: #d3a178;
      display: block;
      font-size: 0.975rem;
      margin: 0 1.5rem;
      font-weight: 600;
    }
  .navbar .navbar-nav a:hover {
      color: #000000;
      font-weight: 800;
    }
  .navbar .navbar-nav a::after {
      content: '';
      display: block;
      padding-bottom: 0.5rem;
      border-bottom: 0.1rem solid #000000;
      transform: scaleX(0);
      transition: 0.2s linear;
    }
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.5);
    }
  .navbar span {
      color: black;
  }
  .nav-logo {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700; 
  line-height: 1; 
  color:#d3a178;
  }
  .mobile {
    display: none;
 }
 @media (max-width: 420px) {
     .mobile {
         display: block; 
         max-width: 90%
     }
     #hamburger-menu {
      display: inline-block;
      
     }
     .navbar .navbar-nav {
      position: absolute;
      display: block;
      text-align: center;
      top: 100%;
      right: -100%;
      background-color: #ffffff ;
      width: 20rem;
      height: 50vh;
      z-index: 1000; /*untuk menempatkan navbar diatas kalo ga pake ketimpa sama section*/
      transition: 0.9s;
     }
     .navbar .navbar-nav.active {
      right: 0;
       
     }
 }
 .mobile-icon {
 display: flex; 
 position: absolute;
 right: 2%;
 top: 15%;
 padding: 0.75rem; 
 align-items: center; 
 color: #d3a178; 
 
 
 }
 
 
 @media (min-width: 1024px) {
     .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 1.6rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
     }
    }
 
 .navbar-nav-icon {
     width: 1rem; /* w-4 in Tailwind */
     height: 1rem; /* h-4 in Tailwind */
     stroke: currentColor; /* current-fill in Tailwind */
     vertical-align: middle;
     gap: 40rem;
 }
 .navbar-nav svg {
     gap: 40rem;
 }
 
 .extra-btn-1 {
     display: none; 
     padding-top: 0.5rem;
     padding-bottom: 0.5rem; 
     padding-left: 1.5rem;
     padding-right: 1.5rem; 
     background-color: #ffffff; 
     transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
     color: #000000; 
     font-size: 0.875rem;
     line-height: 1.25rem; 
     font-weight: 700; 
     border-radius: 0.75rem; 
 }
 
 @media (min-width: 1024px) { 
 
     .extra-btn-1{
 
display: inline-block; 
 margin-left: auto; 
 margin-right: 0.75rem; 
  }
 }
 @media (max-width: 1024px) { 
  .extra-btn-1 {
    display: inline-block;
    position: relative;
    right: 9%;
    margin-left: auto; 
   margin-right: 0.75rem; 
  }
 }
 
 
 .extra-btn-1:hover {
  background-color: #74563e;
  color: #ffffff;
  }
  .extra-btn-2 {
 display: none; 
 position: relative;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem; 
 padding-left: 1.5rem;
 padding-right: 1.5rem; 
 background-color: #946d4e;
 transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
 transition-duration: 200ms; 
 color: #ffffff; 
 font-size: 0.875rem;
 line-height: 1.25rem; 
 font-weight: 700; 
 border-radius: 0.75rem; 
  }
 @media (min-width: 1024px) { 
     
     .extra-btn-2{
   display: inline-block; 
  }
 }
 @media (max-width: 1024px) { 
     
  .extra-btn-2{
display: flex; 
right: 9%;
}
}
 
 .extra-btn-2:hover {
  background-color: #c08c61;
  color: #000000;
  }

#shopping-cart-button {
  position: relative;
}
#shopping-cart-button .quantity-badge {
display: inline-block;
padding: 1px 5px;
background-color: red;
border-radius: 6px;
color : white;
font-size: 0.7rem;
  
}
 /* Navbar End */


  /* Call To Action Section */
  .section {
    /* overflow: hidden; */
    display: flex;
    background-image: url("../img/bg2.gif");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    height: 110vh;
  }
  
  .section-content {
    background-color: rgba(68, 46, 24, 0.507);
    border-radius: 10px;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 500px;
    text-align: center;
  }
  
  @media (min-width: 640px) {
    .section-content {
      text-align: left;
    }
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #0800a000;
    border-right: 2px solid #c08c61;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s infinite,
               cursor .5s infinite;
  }
  @keyframes typing{
    10% { width: 0 }
  }
  @keyframes cursor{
    50% { border-color: transparent }
  }
  
  @media (min-width: 640px) {
    .section-title {
      font-size: 2rem;
    }
  }
  
  .section-paragraph {
    display: flex;
    max-width: 30rem;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 640px) {
    .section-paragraph {
      display: flex;
    }
  }
  
  .section-link {
    display: inline-block;
    position: relative;
    margin: auto;
    border-radius: 9999px;
    background-color: #916745;
    padding: 0.75rem 1.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  
  .section-link:hover {
    background-color: #d3a178;
    color: #000000;
  }
  
  .section-link:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #4f46e5;
  }
/* END Call To Action Section  */

/* Tentang Kami Section */

.about {
padding: 5rem 7% 1.4rem; 
margin-bottom: 5rem;
}
.about h2 {
text-align: center;
font-size: 2.6rem;
margin-bottom: 3rem;
color: #ffccae; 
font-size: 3rem;
line-height: 2rem; 
font-weight: 700; 

}
.about span {
  color: #000000;
}
.about .about-content {
  display: flex;
}
.about .about-content .about-img {
  flex: 1 1 45rem;
  
}
.about .about-content .about-img img {
  width: 100%;
  border-radius: 5%;

}
.about .about-content .konten {
  flex: 1 1 35rem;
  padding: 0 1rem;

}
.about .about-content .konten h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #381e08;
  font-weight: 700;
}
.about .about-content .konten p {
  color: #ffccae;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.2;

}
@media (max-width: 758px) {
  .about .about-content {
    flex-wrap: wrap;
  }
  .about .about-content .about-img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }
  .about .about-content .konten {
    padding: 0;
  }
  .about .about-content .konten h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .about-content .konten p {
    font-size: 1.3rem;
  }
}
/* END Tentang Kami Section */


/* Shopping Cart */
.shopping-cart {
  position: fixed;
  top: 100%;
  right: -100%;
  height: 300vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.801);
  z-index: 999;
  transition: 0.4s linear;
}
.shopping-cart.active {
  right: 0;
  position: absolute;
}
.shopping-cart .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #000000;

}
.shopping-cart img {
  height: 4rem;
  border-radius: 50%;

}
.shopping-cart h3 {
  font-size: 1.4rem;
  padding-right: 15rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;

  
}
.shopping-cart .cart-item #add,
.shopping-cart .cart-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 6px;
  
}

.shopping-cart .cart-item h3 {
  font-weight: 700;
  text-align: right;

  gap: 10rem;
}
.shopping-cart h4 {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: -1;
  margin-bottom: 1rem;

}
/* Shopping Cart End */

/* Form Chekout */
.form-container h5 {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  border-top: 1px dashed #00000071;

}

.form-container form {
  width: 100%;
  text-align: center;

}
.form-container label {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;

}
.form-container span {
  text-align: right;

}
.form-container input {
  background-color: #ddd;
  padding: 5px;
  font-size: 1rem;
  width: 70%;

}
.form-container .checkout-button {
  padding: 6px 14px;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 20px;
  margin: 1rem auto;
  cursor: pointer;
}
.form-container .checkout-button.disabled {
  background-color: #999;
  cursor: not-allowed;
}
/* Form Chekout End */


/* Product Section */
.products {
  padding: 8rem 7% 1.4rem;
}
.products h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: #ffccae; 
font-size: 3rem;
line-height: 2rem; 
font-weight: 700; 

}
.products span {
  color: #000000;
}
.products p {
  color : #ffccae;
}
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;

}

.products .product-card {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 3%;
  padding: 2rem;

}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

}

.products .product-icons a {
  width: 4rem;
  height: 4rem;
  color: #000000;
  margin: 0.3rem;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;


}
.products .product-icons a:hover {
  background-color: #503422; 
  border: 1px solid rgba(117, 69, 38, 0.801);
  color: rgb(255, 255, 255);
}
.products .product-image img {
  width: 25rem;
}

/* Product Section End */

/* Kontak Section */
.kontak {
  padding: 8rem 7% 1.4rem;
  margin-bottom: 5rem;

}
.kontak h2 { 
text-align: center;
font-size: 2.6rem;
margin-bottom: 3rem;
color: #ffccae; 
font-size: 3rem;
line-height: 2rem; 
font-weight: 700; 
}
.kontak span {
  color: #000000;
}
.kontak p {
  color : #ffccae;
  margin-bottom: 0.8rem;
  text-align: center;
}
.kontak .Kontak-row {
  display: flex;
  margin-top: 2rem;
  background-color: #503422;
}
.kontak .Kontak-row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;

}
.input-kontak {
  color: #ffffff;
  
}
.kontak .Kontak-row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;

}
.kontak .Kontak-row form .input-kontak {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: #85573a;
  border: 1px solid #9c9c9c;
  border-radius: 5rem;
  padding-left: 2rem;
} 
.kontak .Kontak-row form .input-kontak input {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  background: none;
  color: #fff;
}
.kontak .Kontak-row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #85573a;
  cursor: pointer;
  border-radius: 5rem;

}
.kontak .Kontak-row form .btn:hover {
  background-color: #bb7c55; 
  border: 1px solid rgba(255, 255, 255, 0.801);
  color: rgb(255, 255, 255);
}
@media (max-width: 758px) {
  .kontak .Kontak-row {
    flex-wrap: wrap;
  }
  .kontak .Kontak-row .map {
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }
  .kontak .Kontak-row form {
    padding-top: 0;
  }
}
/* Kontak Section End */
/* Footer */
.footernya {
display: flex; 
flex-direction: column; 
align-items: center; 
text-align: center; 
background-color: #5a3a26; 
}
.copyright {
  padding: 1rem; 
  width: 100%; 
  text-align: center; 
  color: #fff;
  background-color: #503422; 

}
.container-foot {
  padding-top: 2.25rem; 
}
.footernya .container-foot .foot-icon {
display: flex; 
margin-bottom: 1.5rem; 
margin-left: 0.5rem; 
justify-content: center; 

}
.footernya .container-foot .foot-icon .btn-foot {
padding: 0.75rem; 
border-radius: 9999px; 
font-weight: 500; 
line-height: 1.5; 
text-transform: uppercase; 
background-color: transparent; 
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
transition-duration: 150ms; 
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
color:#fff
}
.footernya .container-foot .foot-icon .btn-foot:hover {
  background-color: #503422;
}
.footernya .container-foot .foot-icon .svg-foot svg {
  width: 1.25rem; 
  height: 1.25rem; 
  
}
/* Footer End */

/* Modal Box */
  /* Item Detail */
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);

  }
  .modal-container {
    position: relative;
    background-color: #fefefe;
    color: #000000;
    margin: 15% auto;
    padding: 1.2rem;
    border: 1px solid #666;
    width: 80%;
    animation: animateModal 0.5s;
  }
  /* Modal Animation */
  @keyframes animateModal {
    from {
      top: -300%;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
.modal-container .close-icon {
  position: absolute;
  right: 1rem;

}
.modal-content {
  display: flex;
  flex: nowrap;

}

.modal-content img {
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

}
.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}
.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: #503422;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;

}
@media (max-width: 758px) {
  .modal-content {
    flex-wrap: wrap;
  }
}





  
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
