.navbar {
display: flex; 
position: relative; 
padding-top: 1rem;
padding-bottom: 1rem; 
padding-left: 1rem;
padding-right: 1rem; 
justify-content: space-between; 
align-items: center; 
background-color: #ffffff; 
}
.navbar .navbar-nav a {
    color: #b9b9b9;
    display: inline-block;
    font-size: 0.975rem;
    margin: 0 1.5rem;
    font-weight: 500;
  }
.navbar .navbar-nav a:hover {
    color: #2563EB;
    font-weight: 800;
  }
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #2563EB;
    transform: scaleX(0);
    transition: 0.2s linear;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
.navbar span {
    color: black;
}
.nav-logo {
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 700; 
line-height: 1; 
color:#2563EB
}
.mobile {
   display: none;
}
@media (max-width: 1023px) {
    .mobile {
        display: block; 
    }
}
.mobile-icon {
display: flex; 
padding: 0.75rem; 
align-items: center; 
color: #2563EB; 

}
.mobile-icon svg {
display: block; 
width: 1rem; 
height: 1rem; 
fill: currentColor; 

}
.navbar-nav {
    display: none; /* Hide by default for large screens */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 1024px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        space-x: 6;
    }
}
/* 
.navbar-nav li {
    color: #A0AEC0; 
    text-decoration: none;
    padding: 4rem 2rem;
}
.navbar-nav li:hover {
    text-decoration: underline;
} */
/* 
.navbar-nav a {
    font-size: 0.875rem; 
    color: #CBD5E0; 
} */
/* 
.navbar-nav a:hover {
    color: #4299e1; 
} */

.navbar-nav-icon {
    width: 1rem; /* w-4 in Tailwind */
    height: 1rem; /* h-4 in Tailwind */
    stroke: currentColor; /* current-fill in Tailwind */
    vertical-align: middle;
    gap: 40rem;
}
.navbar-nav svg {
    gap: 40rem;
}

.extra-btn-1 {
    display: none; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    background-color: #f3f3f3; 
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
    color: #000000; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 700; 
    border-radius: 0.75rem; 
}

@media (min-width: 1024px) { 

    .extra-btn-1{

  display: inline-block; 
margin-left: auto; 
margin-right: 0.75rem; 
 }
}

.extra-btn-1:hover {
 background-color: #d6d6d8b0; 
 }
 .extra-btn-2 {
display: none; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1.5rem;
padding-right: 1.5rem; 
background-color: #3B82F6; 
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
transition-duration: 200ms; 
color: #ffffff; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 700; 
border-radius: 0.75rem; 
 }
@media (min-width: 1024px) { 
    
    .extra-btn-2{
  display: inline-block; 
 }
}

.extra-btn-2:hover {
 background-color: #2563EB; 
 }

.navbar-menu {
display: none; 
position: relative; 
z-index: 50; 
}
.navbar-backdrop {
position: fixed; 
top: 0;
right: 0;
bottom: 0;
left: 0; 
background-color: #1F2937; 
opacity: 0.25; 

}